{% extends 'admin/layout.njk' %}

{% block content %}
<section class="container admin-chef">
    <form action="/admin/chefs" method="post" id="create-chef" enctype="multipart/form-data">
    <header>
        <h1>Criando chef</h1>
        <button type="submit" class="primary">Salvar chef</button>
    </header>
        <div class="fields">
            <div class="field">
                <label for="name">Nome</label>
                <input type="text" name="name">
            </div>

            <div class="field">
                <label for="photos">Avatar</label>
                <div class="photos-upload">
                    <input type="file" name="photos">
                    <button class="primary">Enviar Avatar</button>
                </div>
            </div>
        </div>
    </form>
</section>
{% endblock content %}