<header id="main" class="container">
    <a href="/"><img src="/images/logo.png" alt="Foodfy" id="logo"></a>
    <nav class="menu">
        <ul>
            <li class="item">
                <a href="/sobre">Sobre</a>
            </li>
            <li class="item">
                <a href="/receitas">Receitas</a>
            </li>
        </ul>
    </nav>
</header>