<header id="main" class="container">
    <nav class="menu">
    <a href="/"><img src="/images/logo.png" alt="Foodfy" id="logo"></a>
        <ul>
            <li class="item">
                <a href="/sobre">Sobre</a>
            </li>
            <li class="item">
                <a href="/receitas">Receitas</a>
            </li>
            <li class="item">
                <a href="/chefs">Chefs</a>
            </li>
        </ul>
        <form action="/receitas" method="get">
            <input type="text" name="search" placeholder="Buscar uma receita">
            <button type="submit" class="primary">Buscar</button>
        </form>
    </nav>
</header>