<div class="fields">
<div class="field">
<label for="photos">Imagens da receita</label>
<input type="file" name="photos">
</div>

<div class="field" id="ingredients">
<label for="ingredients">Ingredientes</label>
<div class="item">
    <input type="text" name="ingredients[]">
</div>
<span class="add-input">Adicionar novo ingrediente</span>
</div>

<div class="field" id="preparation">
<label for="preparation">Modo de preparo</label>
<div class="item">
    <input type="text" name="preparation[]">
</div>
<span class="add-input">Adicionar novo passo</span>
</div>

<div class="field">
<label for="plus-information">Informações adicionais</label>
<textarea name="plus-information"></textarea>
</div>
</div>