{% extends 'layout.njk' %}

{% block content %}
<section id="welcome" class="container">
    <div class="text">
        <strong>As melhores receitas</strong>
        <p>
        Aprenda a construir os melhores pratos
        com receitas criadas por profissionais
        do mundo inteiro.
        </p>
    </div>
    <img src="images/chef.png" alt="Ilustração de Chef de Cozinha">
</section>
{% endblock content %}