{% extends 'layout.njk' %}

{% block content %}
<section id="welcome" class="container">
    <div class="text">
        <strong>As melhores receitas</strong>
        <p>
        Aprenda a construir os melhores pratos
        com receitas criadas por profissionais
        do mundo inteiro.
        </p>
    </div>
    <img src="images/chef.png" alt="Ilustração de Chef de Cozinha">
</section>

<section id="featured-recipes" class="container">
    <h1>Mais acessadas</h1>
    <div class="recipes-grid">
        <div class="recipe">
            <img src="images/burger.png" alt="Imagem de Triplo Bacon Burger">
            <div class="info">
                <div class="title">Triplo Bacon Burger</div>
                <div class="author">por Jorge Relato</div>
            </div>
        </div>
        
        <div class="recipe">
            <img src="images/burger.png" alt="Imagem de Triplo Bacon Burger">
            <div class="info">
                <div class="title">Triplo Bacon Burger</div>
                <div class="author">por Jorge Relato</div>
            </div>
        </div>
        
        <div class="recipe">
            <img src="images/burger.png" alt="Imagem de Triplo Bacon Burger">
            <div class="info">
                <div class="title">Triplo Bacon Burger</div>
                <div class="author">por Jorge Relato</div>
            </div>
        </div>
        
        <div class="recipe">
            <img src="images/burger.png" alt="Imagem de Triplo Bacon Burger">
            <div class="info">
                <div class="title">Triplo Bacon Burger</div>
                <div class="author">por Jorge Relato</div>
            </div>
        </div>
        
        <div class="recipe">
            <img src="images/burger.png" alt="Imagem de Triplo Bacon Burger">
            <div class="info">
                <div class="title">Triplo Bacon Burger</div>
                <div class="author">por Jorge Relato</div>
            </div>
        </div>
        
        <div class="recipe">
            <img src="images/burger.png" alt="Imagem de Triplo Bacon Burger">
            <div class="info">
                <div class="title">Triplo Bacon Burger</div>
                <div class="author">por Jorge Relato</div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}