{% extends 'layout.njk' %}

{% block content %}
<section id="welcome" class="container">
    <div class="text">
        <strong>As melhores receitas</strong>
        <p>
        Aprenda a construir os melhores pratos
        com receitas criadas por profissionais
        do mundo inteiro.
        </p>
    </div>
    <img src="images/chef.png" alt="Ilustração de Chef de Cozinha">
</section>

<section id="featured-recipes" class="container">
    <h1>Mais acessadas</h1>
    <div class="recipes-grid grid">
        {% for recipe in recipes %}
        <a href="/receitas/{{loop.index0}}">
        <div class="recipe">
            <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
            <div class="info">
                <div class="name">{{recipe.title}}</div>
                <div class="author">por {{recipe.author}}</div>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock content %}