{% extends 'layout.njk' %}

{% block content %}
<section id="recipes" class="container">
    <div class="recipes-grid grid">
        {% for recipe in recipes %}
        <a href="/receitas/{{recipe.id}}">
        <div class="recipe">
            <img src="{{recipe.imageSrc}}" alt="Imagem de {{recipe.title}}">
            <div class="info">
                <div class="name">{{recipe.title}}</div>
                <div class="author">por {{recipe.chef_name}}</div>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock content %}