{% extends 'admin/layout.njk' %}

{% block content %}
<section id="admin-recipe-create" class="container">
    <form action="/admin/receitas" method="post" id="create-recipe">
    <header>
        <h1>Criando receita</h1>
        <button type="submit" class="primary">Salvar receita</button>
    </header>
        {% include 'admin/includes/fields.njk' %}
    </form>
</section>
{% endblock content %}