{% extends 'admin/layout.njk' %}

{% block content %}
<section id="admin-recipe-edit" class="container">
    <form action="/admin/receitas" method="post" id="edit-recipe">
    <header>
        <h1>Editando receita</h1>
        <button type="submit" class="primary">Salvar receita</button>
    </header>
        {% include 'admin/includes/fields.njk' %}
    </form>

    <form action="/admin/receitas" method="post" id="delete-recipe">
        <button type="submit" class="delete">Deletar</button>
    </form>
</section>
{% endblock content %}