{% extends 'admin/layout.njk' %}

{% block content %}
<section id="recipes" class="container">
    <h1>Gerenciar receitas</h1>
    <div class="recipes-grid">
        {% for recipe in recipes %}
        <div class="recipe">
            <img src="{{recipe.image}}" alt="">
            <div class="info">
                <div class="title">{{recipe.title}}</div>
                <div class="author">por {{recipe.author}}</div>
                <a href="/admin/receitas/{{loop.index0}}"><button>Visualizar</button></a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}