<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'includes/styles.njk' %}
    <title>Admin Foodfy</title>
</head>
<body>
    {% include 'admin/includes/header.njk' %}
    <main id="admin">
    {% block content %}{% endblock content %}
    </main>
    {% include 'includes/scripts.njk' %}
</body>
</html>