header#main {
    width: 100%;
    margin-top: 31px;
}

header#main .menu {
    display: grid;
    grid-template-columns: 94px auto auto;
    align-items: center;
    gap: 120px;
}

header#main .menu ul {
    display: flex;
}

header#main .menu ul .item a {
    margin-right: 30px;
    color: var(--main-text);
    font-size: 16px;
}

header#main .menu ul .item a.active {
    font-weight: bold;
}

header#main .menu ul .item:last-child a {
    margin-right: 0;
}

header#main .menu form {
    display: flex;
    align-items: center;
}

header#main .menu form input {
    height: 37px;
    font-size: 14px;
    padding: 11px 15px;
    margin-top: 0;
    margin-right: 8px;
}

header#main .menu form input::placeholder {
    color: var(--light-gray-text);
}

header#main .menu form button {
    height: 37px;
}