header#main {
    width: 100%;
    height: 32px;
    margin-top: 31px;
}

header#main .menu {
    display: grid;
    grid-template-columns: 94px auto;
    align-items: center;
    gap: 120px;
}

header#main .menu ul {
    display: flex;
}

header#main .menu ul .item a {
    margin-right: 30px;
    color: var(--main-text);
    font-size: 16px;
}

header#main .menu ul .item:last-child a {
    margin-right: 0;
}