{% extends 'admin/layout.njk' %}

{% block content %}
<section class="container recipe-show">
    <div class="edit">
    <h1>Receita: {{recipe.title}}</h1>
    <a href="/admin/receitas/{{recipe.id}}/editar"><button>Editar receita</button></a>
    </div>
    <header>
        <img src="{{recipe.imageSrc}}" alt="Imagem de {{recipe.title}}">
        <strong class="name">{{recipe.title}}</strong>
        <div class="author">por <a href="/admin/chefs/{{recipe.chef_id}}">{{recipe.chef_name}}</a></div>
    </header>

    <section class="ingredients">
        <header>
        <h1>Ingredientes</h1>
        </header>
        <div class="content">
        <ul>
            {% for ingredient in recipe.ingredients %}
            <li class="ingredient">
                {% if loop.last %}
                {{ingredient}}.
                {% else %}
                {{ingredient}};
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        </div>
    </section>
    
    <section class="preparation">
        <header>
        <h1>Modo de preparo</h1>
        </header>
        <div class="content">
        <ul>
            {% for step in recipe.preparation %}
            <li class="step">
                {{step}}
            </li>
            {% endfor %}
        </ul>
        </div>
    </section>
    
    {% if recipe.information %}
    <section class="plus-information">
        <header>
        <h1>Informações adicionais</h1>
        </header>
        <div class="content">
        <p>
            {{recipe.information}}
        </p>
        </div>
    </section>
    {% endif %}
</section>
{% endblock content %}