<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'includes/styles.njk' %}
    <title>Foodfy</title>
</head>
<body>
    {% include 'includes/header.njk' %}
    {% block content %}{% endblock content %}
    {% include 'includes/footer.njk' %}
</body>
</html>